MYCODEXVANTAOS_DEV_STUDIO_MODE=hybrid
MYCODEXVANTAOS_DEV_STUDIO_REPO_ENDPOINT=
MYCODEXVANTAOS_DEV_STUDIO_ANALYTICS_URL=
MYCODEXVANTAOS_DEV_STUDIO_LLM_MAX_TOKENS=
MYCODEXVANTAOS_DEV_STUDIO_AUTH_REQUIRED=true
